/* Layout fixes for Internet Explorer 5 and 6 */

.item {
    height: 100px;  /* Doesn't support "max-height", but IE6 height seems to work like modern "max-height" */
}

#query {
    width: 200px;  /* Doesn't support "max-width", but IE6 width seems to work like modern "max-width" */
    height: 20px;  /* Account for larger inset border in text input */
}

html, body {
    height: 100%;
}

html {
    overflow: auto;
    padding-top: 40px;
}
body {
    margin-top: 0px;
    overflow: auto;
}

.comment-info {
    height: 32px;
}

/* IE6 has an awful bug where elements with "position: relative" within
 * a container that has "overflow: auto" will overflow their container
 * and not scroll. We'll just remove the relative positioning and let
 * the overlays show under the thumbnails as a black bar instead. */
.thumbnail, .thumbnail-overlay { position: static; }

/* Thanks to https://ryanfait.com/position-fixed-ie6/ for this fix */
* html #headerbar {
    position: absolute;
}

.drawer {
    /*position: relative;*/
}

/*
body {
    margin-top: 0px;
    overflow: hidden;
    background-color: orange;
}

#content {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: auto;
}
*/
